.roles {
  max-width: 17.5rem;
  text-align: center;
}
.role {
  position: relative;
  width: 16rem;
  height: 15rem;
  display: inline-block;
  background: #f4f4f4;
  background: var(--wild_sand);
  border-radius: 1rem;
  text-align: center;
}
.role:not(:last-of-type) {
  margin-bottom: 5rem;
}
.role:hover,
.role:focus,
.role:focus-visible {
  background: #187516;
  background: var(--bilbao);
  color: #ffffff;
  color: var(--white);
}
.role:hover > .role-icon > svg > g {
  fill: #ffffff;
  fill: var(--white);
}
.role_err {
  margin-bottom: 5rem;
  width: 80%;
  max-width: 35rem;
  color: #c71111;
  color: var(--thunderbird);
  text-align: center;
}
.role-radio {
  position: absolute;
  left: 0;
  opacity: 0;
}
.role-radio:checked + .role-icon > svg > g,
.role-radio:focus + .role-icon > svg > g,
.role-radio:focus-visible + .role-icon > svg > g {
  fill: #ffffff;
  fill: var(--white);
}
.role-radio:checked + .role-icon {
  background: #187516;
  background: var(--bilbao);
}
.role-radio:focus + .role-icon,
.role-radio:focus-visible + .role-icon {
  background: #187516;
  background: var(--bilbao);
  outline-width: 0.2rem;
  outline-style: solid;
}
.role-radio:checked + .role-icon + .role-lbl,
.role-radio:focus + .role-icon + .role-lbl,
.role-radio:focus-visible + .role-icon + .role-lbl {
  color: #ffffff;
  color: var(--white);
}
.role-lbl {
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 1.6rem;
  font-weight: 600;
  transform: translate(-50%, -50%);
}
.role-icon {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.role-icon > svg {
  margin: 2rem 0 0 0;
  width: 7rem;
  height: 7rem;
  fill: #212121;
  fill: var(--black);
}

.terms {
  width: 78%;
  max-width: 32rem;
  font-size: 1.4rem;
}
.terms-detail:last-of-type {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .h1--roles {
    margin-bottom: 3rem;
  }
  .form--roles {
    max-width: 75rem;
  }
  .roles {
    max-width: 75rem;
  }
  .role {
    width: 20rem;
    height: 19rem;
  }
  .role:not(:last-of-type) {
    margin-right: 5rem;
    margin-bottom: 0rem;
  }
  .role_err {
    margin-bottom: 7rem;
    max-width: 45rem;
    font-size: 1.7rem;
  }
  .role-lbl {
    font-size: 2rem;
  }
  .role-icon > svg {
    margin: 3rem 0 0 0;
    width: 8rem;
    height: 8rem;
  }
}
