:root {
  --black: #212121;
  --white: #ffffff;
  --wild_sand: #f4f4f4;
  --boulder: #787878;
  --bilbao: #187516;
  --thunderbird: #c71111;
  --turbo: #e3da00;
  --bittersweet: #ff7272;
  --maize: #f5d19b;
}
