@import url("fonts.css");
@import url("colors.css");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}

.hdr {
  position: relative;
  height: 13.5rem;
  border-bottom: 0.1rem solid #187516;
  border-bottom: 0.1rem solid var(--bilbao);
}
.hdr-logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.hdr-logo > img {
  width: 11rem;
  height: 4rem;
}
.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 1rem;
  width: 100%;
  transform: translateX(-50%);
}
.links {
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
}
.links::before {
  content: "";
  position: absolute;
  top: 68%;
  left: 50%;
  width: 100%;
  height: 2rem;
  background: #ffffff;
  background: var(--white);
  transform: translateX(-50%);
}
.link {
  position: relative;
  margin: 0 2rem;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}
.link:hover > a {
  color: #212121;
  color: var(--black);
}
.link:hover > a::before {
  transform: scale(1) translateX(-50%);
}
.link > a::before {
  content: "";
  position: absolute;
  top: 85%;
  left: 50%;
  width: calc(100% + 1rem);
  height: 0.3rem;
  background: #187516;
  background: var(--bilbao);
  transform: scale(0) translateX(-50%);
  transform-origin: 50%;
}
.link > a {
  min-width: 6rem;
  height: 3.5rem;
  display: inline-block;
  color: #787878;
  color: var(--boulder);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.link-isInPage > a {
  color: #212121;
  color: var(--black);
}
.link-isInPage > a::before {
  transform: scale(1) translateX(-50%);
}

.ftr {
  position: relative;
  height: 9rem;
  border-top: 0.1rem solid #187516;
  border-top: 0.1rem solid var(--bilbao);
}
.ftr-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
  .ftr-notice {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 750px) {
  .hdr {
    height: 7.5rem;
  }
  .hdr-logo {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }
  .nav {
    position: absolute;
    top: 50%;
    right: 5%;
    margin-top: 1rem;
    width: auto;
    transform: translateY(-50%);
  }

  .links::before {
    top: 62%;
  }
  .links {
    text-align: right;
  }
  .link {
    position: relative;
    margin: 0 2rem;
    display: inline-block;
    white-space: nowrap;
  }
}
