@import url("fonts.css");
@import url("colors.css");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}
a {
  color: #187516;
  text-decoration: underline solid #187516;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5rem;
  text-align: center;
}
p,
span {
  font-size: 1.4rem;
}
a {
  color: #187516;
  font-size: 1.4rem;
  text-decoration: underline solid #187516;
}

form {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
fieldset {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
label {
  position: relative;
  max-width: 32rem;
  min-height: 6rem;
  display: inline-block;
}
input {
  position: relative;
  padding: 0.1rem 1rem;
  height: 3.5rem;
  border: 0.1rem solid #767676;
  border: 0.1rem solid var(--boulder);
  border-radius: 1rem;
}
input:focus,
input:focus-visible {
  outline-color: #187516;
  outline-color: var(--bilbao);
}

button {
  margin-left: auto;
  margin-right: auto;
  width: 11rem;
  height: 4.8rem;
  display: inline-block;
  background: transparent;
  border: .1rem solid #767676;
  border: .1rem solid var(--boulder);
  border-radius: 1rem;
  color: #767676;
  color: var(--boulder);
  font-size: 1.7rem;
  font-weight: 700;
}

header {
  position: relative;
  height: 13.5rem;
  border-bottom: 0.1rem solid #187516;
  border-bottom: 0.1rem solid var(--bilbao);
}
.header-logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.header-logo > img {
  width: 11rem;
  height: 4rem;
}
nav {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 1rem;
  width: 100%;
  transform: translateX(-50%);
}
.links {
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
}
.links::before {
  content: "";
  position: absolute;
  top: 68%;
  left: 50%;
  width: 100%;
  height: 2rem;
  background: #ffffff;
  background: var(--white);
  transform: translateX(-50%);
}
.link {
  position: relative;
  margin: 0 2rem;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}
.link:hover > a {
  color: #212121;
  color: var(--black);
}
.link:hover > a::before {
  transform: scale(1) translateX(-50%);
}
.link > a::before {
  content: "";
  position: absolute;
  top: 85%;
  left: 50%;
  width: calc(100% + 1rem);
  height: 0.3rem;
  background: #187516;
  background: var(--bilbao);
  transform: scale(0) translateX(-50%);
  transform-origin: 50%;
}
.link > a {
  min-width: 6rem;
  height: 3.5rem;
  display: inline-block;
  color: #767676;
  color: var(--boulder);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.link--isInPage > a {
  color: #212121;
  color: var(--black);
}
.link--isInPage > a::before {
  transform: scale(1) translateX(-50%);
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

footer {
  position: relative;
  height: 9rem;
  border-top: 0.1rem solid #187516;
  border-top: 0.1rem solid var(--bilbao);
}
.footer-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  text-align: center;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
  .footer-notice {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 750px) {
  p,
  span {
    font-size: 1.6rem;
  }
  a {
    font-size: 1.6rem;
  }
  fieldset {
    margin-bottom: 7rem;
  }
  input {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  header {
    height: 7.5rem;
  }
  .header-logo {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }
  nav {
    top: 50%;
    right: 5%;
    width: auto;
    transform: translateY(-50%);
  }

  .links::before {
    top: 62%;
  }
  .links {
    text-align: right;
  }
  .link {
    margin: 0 2rem;
  }
}
